# Exclude everything by default, then whitelist what the Dockerfile needs.
*

# Dockerfile ADD targets
!patches/
!test-suite-patches/
!get-src-tarballs.sh
!build-hexagon-hypervisor.sh
!*.cmake
!cmake/
!hexagon-unknown-none-elf.cfg
!test_init/
!build-toolchain.sh
!hexagon-scs-crt1.c
!build-buildroot.sh
!test-toolchain.sh
!tar-strip-symlink-modes.py
!strip1-extract.py
!debian-pkg/
